<div class="buttons">
    <!-- Form to collect details for new office -->
    <h2>Create New Office</h2>
    <form>
        <label for="postFormName">Office Name: </label>
        <input type="text" name="postFormName" id="postFormName"
        [(ngModel)]="formOffice.officeName">

        <label for="postFormAddress">Office Address: </label>
        <input type="text" name="postFormAddress" id="postFormAddress"
        [(ngModel)]="formOffice.officeAddress">

        <label for="postFormMax">Max Number of Employees: </label>
        <input type="number" name="postFormMax" id="postFormMax"
        [(ngModel)]="formOffice.officeMaxEmployees">        
    </form>

    <!-- Button to submit form -->
    <button [disabled]="officeNames.includes(formOffice.officeName)" (click)="addOffice()">CREATE</button>

    <!-- Error messages -->
    @if (officeNames.includes(formOffice.officeName)) {
        <p class="error">Office Name already exists!</p>
    }

    @if (isNameNull == true) {
        <p class="error">Office Name cannot be blank!</p>
    }
    
</div>

<!-- Search by Office ID -->
<h4>Search by Office ID:</h4>

<article>
    <form #idForm>
        <input type="number"   
                id="searchId" 
                name="searchId"
                [(ngModel)]="searchId" #formId>

        <button id="search" (click)="getOfficeById()">SUBMIT</button>
        <button id="reset" (click)="getAllOffices()">RESET</button>
    </form>
</article>

<!-- Error message -->
@if (officeDoesNotExist) {
    <p class="error">
        Office with that ID doesn't exist!
    </p>
}

<!-- Display office cards -->
<article>
    <h2>Offices</h2>

    <button (click)="getAllOffices()">Sort by ID</button>
    <button (click)="getOfficesSortedByName()">Sort by Name</button>
    <br>

    @if (offices.length <= 0 ) {
        <p>No offices found.</p>
    }
    

    @for (office of offices; track $index) {
        <!-- [] binds the department property value of this card to the value of
            department, which is the current item in the loop -->
        <app-office-card (deleteOfficeEvent)="processDeleteEvent($event)" [office]="office"></app-office-card>
    }
</article>
