/* department-detail.component.css */

h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

.employee {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 12px;
}

input {
    border: solid 1px black;
    font-size: 16px;
    width: 200px;
    margin-right: 24px;
    padding: .5em;
}

#updateName {
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #3e8e41;
}